<html ng-app="myApp">
<head>
    <title>Kanban Board</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/index-style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>


    <script type="text/javascript" src="../../js/dragular.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/board.css"/>
    <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../../css/dragular.min.css"/>
    <script src="../../js/application.js"></script>
</head>
    <ng-view></ng-view>
</html>
